.parent-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-heading {
  color: rgb(254, 254, 254);
}
.main-heading.light {
  color:black;
}

.button-get:hover {
  transform: scale(1.1);
}
.container-for-dashboard {
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.container-dashboard {
  border: 1px solid grey;
  max-width: 700px;
}
@media screen and (min-width: 1024px) {
  .container-dashboard {
    max-width: 500px;
  }
  .container-for-dashboard {
    flex-wrap: nowrap;
  }
}
