.card-container {
  padding: 15px;
  max-width: 550px;
  width: 100%;
  border: 1px solid grey;
  border-radius: 10px;
  background: rgb(64, 64, 64);
}

.card-secondary-heading {
  font-size: 1.5rem;
  color: rgb(217, 217, 217);
}
.card-number {
  font-size: 1.8rem;
  font-weight: 600;
}
